@use '../abstracts' as *;

.home {
   .trending {
      text-align: center;
      padding-top: 88px;
      padding-bottom: 160px;
      .tranding_title {
         font-family: Rubik;
         color: $color-first;
         font-size: 48px;
         font-style: normal;
         font-weight: 700;
         line-height: 64px;
         text-align: center;
         margin-bottom: 56px;
      }
      .tranding_list {
         display: flex;
         align-items: center;
         gap: 20px;
         justify-content: space-around;
         flex-wrap: wrap;
         .tranding_item {
            .tranding_link {
               color: $color-four;
               font-weight: 400;
               line-height: 32px;
               padding: 12px 32px;
               border-radius: 8px;
               border: 1px solid $color-second;
               transition: all 0.3s ease
               ;
               
               &:hover {
                  color: $color-second;
                  background-color: $color-three;
                  border: 1px solid $color-three;
               }
          }  
         }
      }
      .cards {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         // gap: 16px;
         .cards_item {
            width: 295px;
            text-align: left;
            border-radius: 8px;
            padding: 16px;
            position: relative;
            transition: all 0.3s ease;
            &:hover {
               box-shadow: 10px 10px 5px $color-seven;
            }
            img {
               width: 263px;
               height: auto;
               margin-bottom: 27px;
            }
            button {
               position: absolute;
               top: 203px;
               left: 72px;
               padding: 4px 24px;
               color: $color-second;
               border-radius: 8px;
               background-color: $color-five;
               border: none;
            }
            h3 {
               color: $color-first;
               font-family: Rubik;
               font-size: 16px;
               font-style: normal;
               font-weight: 500;
               line-height: 24px;
               text-transform: capitalize;
            }
            h4 {
               color: $color-three;
               font-family: Montserrat;
               font-size: 12px;
               font-weight: 400;
               line-height: 24px;
            }
            p {
               display: flex;
               align-items: center;
               font-size: 14px;
               font-style: normal;
               font-weight: 400;
               line-height: 24px;
               color: $color-six;
               &::before {
                  content: url('../../img/home/stars.png');
                  display: inline-block;
                  width: 152px;
                  height: 24px;
                  margin-right: 5px;
               }
            }
            div {
               color: $color-first;
               font-family: Rubik;
               font-size: 24px;
               font-style: normal;
               font-weight: 500;
               line-height: 32px;
               del {
                  margin-right: 8px;
                  color: $color-seven;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 27px;
               }
            }
         }      
      }
      .trending_more {
         padding: 14px 24px;
         background-color: $color-three;
         border-radius: 8px;
         color: $color-second;
         border: 1px solid $color-three;
         transition: 0.3s ease;
         &:hover {
            background-color: $color-second;
            color: $color-three;
         }
      }
   }
   .categories {
      padding-bottom: 160px;
      .categories_title {
         margin-bottom: 56px;
         font-family: Rubik;
         font-size: 48px;
         font-style: normal;
         font-weight: 700;
         line-height: 64px;
         text-align: center;
      }
      .cards {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         gap: 16px;
         .cards_item {
            width: 285px;
            height: 350px;
            border-radius: 8px;
            background-color: hsla(0, 0%, 0%, 0.5);
            text-align: center;
            transition: all 0.3s ease;
            &:hover {
               box-shadow: 10px 5px 5px $color-eighth;
            }
            h3 {
               padding-top: 278px;
               color: $color-second;
               font-family: Rubik;
               font-size: 24px;
               font-weight: 500;
               line-height: 32px;
            }
         }
      }
   }
   .result {
      padding-top: 40px;
      padding-bottom: 40px;
      .result_card {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         .result_card-item {
            width: 180px;
            text-align: center;
            img {

            }
            p {
               margin-top: 16px;
               color: var(--Text-Tittle, #1C3554);
               font-family: Rubik;
               font-size: 32px;
               font-style: normal;
               font-weight: 700;
               line-height: 48px;
            }
            h4 {
               margin-top: 8px;
               color: var(--Text-Tittle, #1C3554);
               font-family: Rubik;
               font-size: 24px;
               font-style: normal;
               font-weight: 400;
               line-height: 32px;
            }
         }
      }
   }
   .mentor {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 160px;
      img {
         border-radius: 8px;
         margin-bottom: 20px;
      }
      div {
         max-width: 565px;
         h2 {
            margin-bottom: 8px;
            color: var(--Text-Tittle, #1C3554);
            font-family: Rubik;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 63.984px;
         }
         p {
            margin-top: 24px;
            color: $color-six;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
         }
         button {
            margin-top: 40px;
            color: $color-second;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            padding: 16px 40px;
            border-radius: 8px;
            background: $color-three;
            border: 1px solid $color-three;
            transition: 0.3s ease;
            &:hover {
               background-color: $color-second;
               color: $color-three;
            }
         }
      }
   }
   .after {
      padding: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      img {
         margin-bottom: 20px;
         border-radius: 8px;
      }
      div {
         max-width: 672px;
         p {
            margin-bottom: 32px;
            color: $color-first;
            font-family: Rubik;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
         }
         h3 {
            margin-bottom: 8px;
            color: $color-first;
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
         }
         h4 {
            color: var(--Text-Body, #808080);
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
         }
      }
   }
   .trust {
      text-align: center;
      padding-bottom: 160px;
      h2 {
         margin-bottom: 56px;
         color: $color-first;
         font-family: Rubik;
         font-size: 48px;
         font-weight: 700;
         line-height: 64px;
      }
      div {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         gap: 20px;
      }
   }
   .latest {
      padding-bottom: 160px;
      .latest_title {
         color: $color-first;
         margin-bottom: 56px;
         font-family: Rubik;
         font-size: 48px;
         font-style: normal;
         font-weight: 700;
         line-height: 64px; 
      }
      .latest_cards {
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-wrap: wrap;
         gap: 0px;
         .latest_item {
            max-width: 400px;
            padding: 16px;
            border-radius: 8px;
            transition: all 0.3s ease;
            &:hover {
               box-shadow: 10px 5px 5px $color-seven;
            }
            img {
               margin-bottom: 16px;
            }
            span {
               display: flex;
               align-items: center;
               margin-bottom: 16px;
               p {
                  margin-right: 8px;
                  color: $color-six;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px;
               }
            }
            h3 {
               margin-bottom: 16px;
               color: $color-first;
               font-family: Rubik;
               font-size: 24px;
               font-weight: 700;
               line-height: 32px;
            }
            p {
               margin-bottom: 24px;
               color: $color-six;
               font-weight: 400;
               line-height: 27px;
            }
            .latest_button {
               background: $color-second;
               border: none;
               color: $color-three;
               font-weight: 400;
               line-height: 32px;
               transition: color 0.3s ease;
               &:hover {
                  color: $color-eighth;
               }
            }
         }
      }
   }
}


@media only screen and (max-width: 630px) {
   .mentor {
      img {
         margin-left: auto;
         margin-right: auto;
         width: 400px;
         height: auto;
      }
   }
 }

 @media only screen and (max-width: 617px) {
   .tranding {
      justify-content: center;
   }
   .categories {
      justify-content: center;
   }
 }