@use '../abstracts/colors' as *;
@use '../components/buttons' as *;

.footer {
   background-color: $color-eighth;
   color: $color-second;
   padding-top: 80px;
   padding-bottom: 40px;
   .footer_content {
      display: flex;
      align-items: start;
      justify-content: space-between;
      div {
         max-width: 500px;
         p {
            color: $color-second;
            // font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
         }
      }
   }
}