@use '../abstracts/colors' as *;
@use '../components/buttons' as *;
    footer {
        
        .footer-contain {
            
            .footer-left {
                display: block;
                .footer-left-contact {
                    display: inline-block;
                    justify-content: center;
                    width: 200px;
                    height: auto;
                    
                    
                    
                }
            }
            
            .footer-right {
                
                .link {
                    display: flex;
                }
                
                
                .right-p {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }}