@use '../abstracts/colors' as *;
@use '../components/buttons' as *;

.header {
   .navbar {
      .forma {
         margin-left: 24px;
         max-width: 400px !important;
      }
      .navbar-nav {
         margin-left: 140px;
      }
      .nav_btn {
         padding: 8px 32px;
         border: 1px solid $color-first;
         border-radius: 8px;
         margin-right: 16px;
         transition: all 0.3s ease;
         &:hover {
            color: $color-second;
            background-color: $color-three;
            border: 1px solid $color-three;
         }
      }
   }
  }

  